@import 'the-new-css-reset/css/reset.css';
@import '@fontsource/darker-grotesque/500.css';
@import '@fontsource/darker-grotesque/700.css';

:root {
	--font-body: 'Darker Grotesque', sans-serif;
	--white: #ffffff;
	--red: #ff0048;
	--yellow: #ffffa6;
	--blue: #d6e3ff;
	--turquoise: #99edd6;
	--gray: #bfbfbf;
	font-family: var(--font-body);
	font-weight: 500;
	font-size: 190%;
	line-height: 105%;
	scroll-behavior: smooth;
}

.main-content {
	width: 100vw;
	max-width: 1024px;
	padding: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 2rem;
	line-height: 90%;
}

h2 {
	font-size: 1.7rem;
	line-height: 90%;
}

input,
button {
	border-radius: 999px;
	border-color: var(--red);
	border-style: solid;
	padding: 10px 20px 14px;
	font-size: 80%;
}

input {
	color: var(--red);
}

button {
	color: var(--white);
	background-color: var(--red);
	cursor: pointer;
}

button:disabled {
	background-color: var(--gray);
	border-color: var(--gray);
	cursor: auto;
}

button:hover:enabled,
input:hover:enabled,
a:hover {
	filter: brightness(85%);
}

ul {
	list-style-type: disc;
}

ul li {
	margin-bottom: 0.5rem;
	margin-left: 30px;
}

em {
	font-style: italic;
}

a {
	text-decoration: underline;
}

strong {
	font-weight: 700;
}
