@import 'the-new-css-reset/css/reset.css';
@import '@fontsource/darker-grotesque/500.css';
@import '@fontsource/darker-grotesque/700.css';

:root {
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: 500;
	font-size: 200%;
	line-height: 110%;
	--white: #ffffff;
	--red: #ff0048;
	--yellow: #ffffa6;
	--blue: #d6e3ff;
	--turquoise: #99edd6;
}

.main-content {
	width: 100vw;
	max-width: 1024px;
	padding: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h2 {
	font-size: 1.7rem;
	line-height: 90%;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button {
	border-radius: 999px;
	border-color: var(--red);
	border-style: solid;
	padding: 10px 20px;
	font-size: 80%;
}

input {
	color: var(--red);
}

button {
	color: var(--white);
	background-color: var(--red);
}
