@import '@fontsource/darker-grotesque';

:root {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 200%;
	line-height: 120%;
	--white: #ffffff;
	--red: #ff0048;
	--yellow: #ffffa6;
	--blue: #d6e3ff;
	--turquoise: #99edd6;
}

body {
	margin: 0;
}

.main-content {
	width: 100vw;
	max-width: 1024px;
	padding: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: inherit;
}
